* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #007BC5;
}
ul {
	margin: 20px;
}
li {
	display: inline-block;
	list-style-type: none;
	font-family: arial;
	font-size: 18px;
	margin: 10px 0;
}
li:last-child {
	color: #000;
}
a:after {
	content: "";
	background-image: url("../img/arrow.svg");
	background-size: cover;
	background-color: #fff;
	opacity: 0.2;
	display: inline-block;  
	height: 16px;  
	width: 16px;  
}
